    <% for fork in r.fresher_forks %>
      <p>
        <a class="github" href="<%= fork.github_url%>">fork</a>
        by
        <a href="/users/<%= fork.owner %>">
          <% if !fork.owner_avatar.blank?  %>
            <img class="userIcon lazy" data-src="<%= fork.owner_avatar %>&amp;s=16" />
          <% else %>
            <img class="userIcon" src="/images/default-gravatar.png">
          <% end %>
          <%= fork.owner %>
        </a>
        <br/>
        updated
        <abbr class="timeago" title="<%= fork.last_pushed_at('%Y-%m-%dT%H:%M:%S%z') %>">
          <%= fork.last_pushed_at("%m/%e/%y") %>
        </abbr>
        (~<%= fork.get_last_update_of_release %>)

        <% if fork.followers != 0 && !fork.followers.blank? %>
          <img class="starImage" src="/images/starGray.png" /> <b><%= fork.followers %></b>
        <% end %>
      </p>
    <% end %>
