<% present(repo) do |r| %>
  <div id="<%= r.name %>" class="repo c_<%= r.category_id %> of_<%= r.estimated_release %> s_<%= r.followers || 0 %> m_<%= r.makefile? %> e_<%= r.example_count %>" >

  <div class="bg">
    <% if r.thumbnail? %>
      <img class="lazy" data-src="https://raw.github.com/<%= r.github_slug %>/master/ofxaddons_thumbnail.png" width="270">
    <% end %>

    <p class="name github">
      <a href="<%= r.github_url %>">
        <%= r.name %>
      </a>
    </p>

  </div>

  <% if r.warning_labels? %>
    <p class="warning-labels">
      <% for warning in r.warning_labels %>
        <span class="warning <%= warning %>">
          <%= warning.to_s.split("-").last %>
        </span>
      <% end %>
    </p>
  <% end %>

  <p class="description">
    <% if r.categories? %>
      [<%= r.categories_list %>]
    <% end %>

    <%= r.description %></p>

    <% if r.features? %>
      <p class="features">
        <% if r.makefile? %>
          <span title="This addon has a config file" class="feature makefile">
            config file
          </span>
        <% end %>
        <% if r.examples? %>
          <span title="This has examples" class="feature example">
            <%= "#{ r.example_count } example".pluralize %>
          </span>
        <% end %>
      </p>
    <% end %>

    <p class="author">
      <a class="github" href="<%= r.github_url %>">
        created
      </a>
      by
      <a href="/users/<%= r.owner %>">
        <% if r.owner_avatar?  %>
          <img class="userIcon lazy" data-src="<%= r.owner_avatar %>&amp;s=16" width="16" />
        <% else %>
          <img class="userIcon" src="/images/default-gravatar.png">
        <% end %>
        <%= r.owner %>
      </a>
      <br/>
      updated
      <abbr class="timeago" title="<%= r.last_pushed_at('%Y-%m-%dT%H:%M:%S%z') %>">
        <%= r.last_pushed_at("%m/%e/%y") %>
      </abbr>
      (~<%= r.estimated_release %>)

      <% if r.followers? %>
        <img class="starImage" src="/images/starGray.png" />
        <b><%= r.followers %></b>
      <% end %>
    </p>

    <%#= render r.fresher_forks %>

  </div>
<% end %>
