<div class="span-23 last">


<div class="span-23 push-1 last">
  <% curWeek = "" %> 
  <% for repo in @most_recent %>

  <% if curWeek != repo.last_pushed_at.strftime("%U") %>
	  <% curWeek = repo.last_pushed_at.strftime("%U") %>
	  <div class="span-23 last pull-1">
	   <h2 style="border-bottom: 4px solid #E6E8EA;">Week of <%= repo.last_pushed_at.strftime("%e %B, %Y") %> </h2>
	  </div>
  <% end %>
  
  <div class="changedRepo span-23 pull-1 last">
     <div class="span-4">
      <% if repo.most_recent_commit && repo.most_recent_commit["author"]  %>
        <img style="width:70px;" src="<%= repo.most_recent_commit["author"]["avatar_url"] %>" />
        <h4 class="repoOwner"><a href="/users/<%= repo.most_recent_commit["author"]["login"] %>"><%= repo.most_recent_commit["author"]["login"] %></a></h4>  
      <% else %>
      <img style="width:70px;" src="/images/default-gravatar.png">
      <% end %>
     </div>
    
    
    <div class="span-6 append-1">
          <h4 class="repoName"><a href="<%= repo.github_url %>"><%= repo.name %></a></h4>
          <p class="repoDescription"><%= repo.description %></p>
    </div>
  
    <div class="span-12 last">
      <p class="commitIntro">
      committed on <%= repo.last_pushed_at.strftime("%e %B, %Y") %>
      </p>
      <p class="commitMessage">
      <% if repo.most_recent_commit && repo.most_recent_commit["commit"] %>
        <%= repo.most_recent_commit["commit"]["message"] %>
      <% end %>
      </p>
    </div>
  
  
  </div>  

  <% end %>
</div>

</div>
