<div class="row">
    <h1 class="span12">Most Recently Changed Addons</h1>
    <div class="span12">
        <% curWeek = "" %> 
        <% for repo in @most_recent %>

        <% if curWeek != repo.last_pushed_at.strftime("%U") %>
        <% curWeek = repo.last_pushed_at.strftime("%U") %>
        <h2>Week of <%= repo.last_pushed_at.strftime("%e %B, %Y") %> </h2>
        <% end %>
  
        <div class="changedRepo span10 offset1 row">
            <div class="span1">
                <% if repo.most_recent_commit && repo.most_recent_commit["author"]  %>
                <img style="width:70px;" src="<%= repo.most_recent_commit["author"]["avatar_url"] %>" />
                <h4 class="repoOwner"><%= repo.most_recent_commit["author"]["login"] %></h4>  
                 <% else %>
                <img style="width:70px;" src="/img/default-gravatar.png" />
                <% end %>
            </div>

            <div class="span4">
                <h4 class="name"><a href="/repos/<%= repo.id %>"><%= repo.name %></a></h4>
                <p class="description"><%= repo.description %></p>
                <p><a href="<%= repo.github_url %>">view on Github</a></p>
            </div>

            <blockquote class="span6 offset1">
                <p>
                    <% if repo.most_recent_commit && repo.most_recent_commit["commit"] %>
                    <%= repo.most_recent_commit["commit"]["message"] %>
                    <% end %>
                </p>
                <small>Committed on <%= repo.last_pushed_at.strftime("%e %B, %Y") %></small>
            </blockquote>
        </div>  
        <% end %>
    </div>
</div>