<h1>All <%= @repo_count %> Repos</h1>


<% for category in @categories %>

<h2><%= category.name %></h2>
  <ul>
    
  <% for repo in category.repos %>
    <li>
      <p><a href="/repos/<%= repo.id %>"><%= repo.name %></a> by <%= repo.owner %>
      <p>
        <em><%= repo.description %> [<a href="<%= repo.github_url %>">view on Github</a>]</em>
      </p>
      
    </li>

  <% end %>
  </ul>


<% end %>

<h2>Uncategorized</h2>

 <ul>
    
  <% for repo in @uncategorized %>
    <li>
      <p><a href="/repos/<%= repo.id %>"><%= repo.name %></a> by <%= repo.owner %>
      <p>
        <%= repo.description %> [<a href="<%= repo.github_url %>">view on Github</a>]
      </p>
      
    </li>

  <% end %>
  </ul>