<div class="repo_page">
    <h2><%= @repo.name %> <% if @repo.category %><span class="repo_category"><a href="/#<%= @repo.category.slug %>"><%= @repo.category.name %></a></span><% end %> <span class="download"><a href="<%= @repo.github_url %>/zipball/master"><i class="icon-download-alt icon-white"></i></a> <a href="<%= @repo.github_url %>"><i class="icon-eye-open icon-white"></i></a></span></h2> 
        <% if !@repo.warning_labels.empty? %>
        <p class="warning-labels">
            <span style="color: #f00; font-weight: bold">Issues:</span> 
            <% for warning in @repo.warning_labels %>
            <span class="warning <%= warning %>">
            <%= warning.to_s.split("-").last %>
            </span>
            <% end %> 
            (<a href="<%= @repo.github_url %>/issues">view issues on github</a>)
        </p>
        <% end %>

    <h3>by <a href="<%= @repo.github_url %>"><%= @repo.owner %></a> </h3>
  
    <p><a href="<%= @repo.github_url %>">view on Github</a></p>

    <p><%= @repo.description %></p>
    <div class="repo_details">
        <p><b>Originally created:</b> <%= @repo.github_created_at.strftime("%e %B, %Y") %></p>
        <p><b>Last updated:</b> <%= @repo.last_pushed_at.strftime("%e %B, %Y") %></p>
    </div>
    
    <br/>

    <% unless @repo.fresher_forks.empty? %>
    <h2>Fresher Forks</h2>
        <% for fork in @repo.fresher_forks %>
        <p>by <a href="http://github.com/<%= fork["owner"]["login"] %>"><%= fork["owner"]["login"] %></a></p>
        <p><a href="<%= fork["html_url"] %>">view on Github</a></p> 
        <p>last pushed: <%= DateTime.parse(fork["pushed_at"]).strftime("%e %B, %Y") %></p>
        <% end %>
    <% end %>

    <% unless @repo.readme.nil? %>  
    <h2>README</h2>
    <div class="repo_readme">
      <%= @repo.readme %>
    </div>
    <% end %>
</div>