<h1>All <%= @repo_count %> Repos</h1>

<ul>
<% for category in @categories %>
  <li><a href="#<%= category.slug %>"><%= category.name  %></a> (<%= category.repos.count %>)</li>
<% end %>
<% unless @uncategorized.empty? %>
<li><a href="#uncategorized">Uncategorized</a> (<%= @uncategorized.length %>)</li>
<% end %>
</ul>

<% for category in @categories %>

<h2><a name="<%= category.slug %>"><%= category.name %></a></h2>
  <ul>
    
  <% for repo in category.repos.sort_by{|r| r.name } %>
    <li>
      <p><a href="/repos/<%= repo.id %>"><%= repo.name %></a> by <%= repo.owner %>
      <p>
        <em><%= repo.description %> [<a href="<%= repo.github_url %>">view on Github</a>]</em>
      </p>
      
    </li>

  <% end %>
  </ul>


<% end %>
<% unless @uncategorized.empty? %>

<h2>Uncategorized</h2>
 <ul>
    
  <% for repo in @uncategorized %>
    <li>
      <p><a href="/repos/<%= repo.id %>"><%= repo.name %></a> by <%= repo.owner %>
      <p>
        <%= repo.description %> [<a href="<%= repo.github_url %>">view on Github</a>]
      </p>
      
    </li>

  <% end %>
  </ul>
  <% end %>