
<!--
<% unless @repo.contributor.nil? %>
  <p style="color:red; font-size:25px;"><%= @repo.contributor.name %></p>
<% end %>
-->

<div id="<%= @repo.name %>" class="c_<%= @repo.category_id %> of_<%= @repo.get_last_update_of_release %> s_<%= @repo.followers.nil? ? 0 : @repo.followers %> m_<%= !@repo.has_makefile.nil? %> e_<%= @repo.example_count.nil? || @repo.example_count != 0 %> repo span-7 append-1 <% if (@index).divmod(3)[1] == 0 %> first<% end %> <% if (@index+1).divmod(3)[1] == 0 %> last<% end %>" >

<% if @repo.has_thumbnail != nil %>
  <div class="bg">
    <img class="lazy" data-src="https://raw.github.com/<%= @repo.github_slug %>/master/ofxaddons_thumbnail.png" width="270">
    <p class="name github"><a href="<%= @repo.github_url %>"><%= @repo.name %></a></p>
  </div>
<% else %>
    <p class="name github"><a href="<%= @repo.github_url %>"><%= @repo.name %></a></p>
<% end %>

  <% unless @repo.warning_labels.nil? || @repo.warning_labels.empty? %>
    <p class="warning-labels">
      <% for warning in @repo.warning_labels %>
      <span class="warning <%= warning %>">
        <%= warning.to_s.split("-").last %>
      </span>
      <% end %>
    </p>
  <% end %>

  <p class="description"><% if !@repo.category.nil? %>[<%= @repo.category.name.downcase %>] <% end %><%= @repo.description %></p>
  <% if @repo.has_makefile || !@repo.example_count.nil? %>
    <p class="features">
      <% if @repo.has_makefile %>
        <span title="This addon has a config file" class="feature makefile">config file</span>
      <% end %>
      <% if !@repo.example_count.nil? && @repo.example_count > 0 %>
        <span title="This has examples" class="feature example"> <%= @repo.example_count.to_s + " example" + (@repo.example_count > 1 ? "s" : "") %> </span>
      <% end %>
    </p>
  <% end %>

  <p class="author">

    <a class="github" href="<%= @repo.github_url%>">created</a> by <a href="/users/<%= @repo.owner %>"><% if !!@repo.owner_avatar  %>
      <img class="userIcon lazy" data-src="<%= @repo.owner_avatar %>&amp;s=16" width="16" />
    <% else %>
      <img class="userIcon" src="/images/default-gravatar.png">
    <% end %><%= @repo.owner %></a> <br/>updated <abbr class="timeago" title="<%= @repo.last_pushed_at.strftime('%Y-%m-%dT%H:%M:%S%z') %>"><%= @repo.last_pushed_at.strftime("%m/%e/%y") %></abbr> (~<%= @repo.get_last_update_of_release %>)
    <% if @repo.followers && @repo.followers > 0 %>
      <img class="starImage" src="/images/starGray.png" /> <b><%= @repo.followers %></b>
    <% end %>
  </p>


  <% for fork in @repo.fresher_forks.sort_by(&:last_pushed_at).reverse %>
    <p>
      <a class="github" href="<%= fork.github_url%>">fork</a> by <a href="/users/<%= fork.owner %>">
      <% if !!fork.owner_avatar  %>
	  <img class="userIcon lazy" data-src="<%= fork.owner_avatar %>&amp;s=16" />
      <% else %>
	  <img class="userIcon" src="/images/default-gravatar.png">
      <% end %>
      <%= fork.owner %></a> <br/>updated <abbr class="timeago" title="<%= fork.last_pushed_at.strftime('%Y-%m-%dT%H:%M:%S%z') %>"><%= fork.last_pushed_at.strftime("%m/%e/%y") %></abbr> (~<%= fork.get_last_update_of_release %>)
    <% if !!fork.followers && fork.followers > 0 %>
      <img class="starImage" src="/images/starGray.png" /> <b><%= fork.followers %></b>
    <% end %>
    </p>
  <% end %>
</div>
