<div class="repo_page span-20 push-2 last">
  <h2><%= @repo.name %> <span class="repo_category"><a href="/#<%= @repo.category.slug %>"><%= @repo.category.name %></a></span> <span class="download"><a href="<%= @repo.github_url %>/zipball/master">⇣</a></span></h2> 
  <h3>by <a href="http://github.com/<%= @repo.owner %>"><%= @repo.owner %></a> </h3>
  
  <p><a href="<%= @repo.github_url %>">view on Github</a></p>
  
   <p>
    <em><%= @repo.description %></em>
  </p>

  
  <div class="repo_details">
  <p>
    <b>Originally created:</b> <%= @repo.github_created_at.strftime("%e %B, %Y") %>
  </p>
  <p>
    <b>Last updated:</b> <%= @repo.last_pushed_at.strftime("%e %B, %Y") %>
  </p>
  </div>
  
  <h3>Fresher Forks</h3>
  <% for fork in @repo.fresher_forks %>
    <h4>Fork by <%= fork["owner"]["login"] %></h4>
    <p>last pushed: <%= DateTime.parse(fork["pushed_at"]).strftime("%e %B, %Y") %></p>
  <% end %>
 
</div>