
<!--
<div id="nav" class="span-24 last">
  <div class="nav_label span-1 append-1">category<br><span class="clear-all">clear</span><br><span class="select-all">all</span></div>
  <div id="nav_categories" class="span-10">
    <% for category in @categories %>
      <div value="c_<%= category.id %>" class="cat_toggle toggle"><%= category.name.downcase  %></div>
    <% end %>
  </div>
-->
<!--
  # TODO
  <div class="nav_label span-1 append-1">platform</div>
  <div id="nav_platforms" class="span-3 append-1">
    <div value="p_0" class="toggle">osx</div>
    <div value="p_0" class="toggle">windows</div>
    <div value="p_0" class="toggle">linux</div>
    <div value="p_0" class="toggle">ios</div>
    <div value="p_0" class="toggle">android</div>
    <div value="p_0" class="toggle">rpi</div>
  </div>
-->

<!--
  <div class="nav_label span-1">etc</div>
  <div id="nav_other" class="span-4">
    <div id="e_stars" class="menu">
      <span id="e_stars_selected">stars</span>
      <div style="display:none" id="stars_menu" class="nav_drop_menu">
        <ul>
          <li value="0">any</li>
          <li value="1">1+</li>
          <li value="5">5+</li>
          <li value="10">10+</li>
          <li value="50">50+</li>
          <li value="100">100+</li>
        </ul>
      </div>
    </div>
    <div id="e_updated" class="menu">
      <span id="e_updated_selected">updated since</span>
      <div style="display:none" id="updated_menu" class="nav_drop_menu">
        <ul>
          <li>any</li>
          <li value="61">0.6.1</li>
          <li value="62">0.6.2</li>
          <li value="70">0.7.0</li>
          <li value="71">0.7.1</li>
          <li value="72">0.7.2</li>
          <li value="73">0.7.3</li>
          <li value="74">0.7.4</li>
          <li value="80">0.8.0</li>
        </ul>
      </div>
    </div>
    <div id="e_makefile" class="toggle">config file</div>
    <div id="e_example" class="toggle">example</div>
    <div id="e_sort_by" class="menu">
      <span id="e_sort_by_selected">sort by stars</span>
      <div style="display:none" id="sort_by_menu" class="nav_drop_menu">
        <ul>
          <li value="star-sort">sort by stars</li>
          <li value="alpha-sort">sort by name</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="nav_label span-3  prepend-1">
    <span id="repo_count">found <%= @repo_count %> addons</span>
  </div>
</div>
-->

<div id="body" class="span-26 last" >

  <% for category in @categories %>
    <div id="<%= category.name.downcase  %>" class="span-24 last">
      <div class="cat_heading"><%= category.name.downcase  %></div>
      <% index = 0; for repo in category.repos.sort_by{|r| r.name }  %>
        <% if repo.followers.to_i != 0 %>
          <%= @repo = repo; @index = index; erb :repo %>
          <% index = index + 1 %>
        <% end %>
      <% end %> 
    </div>
  <% end %>

</div>


