
<div id="nav" class="span-24 last">
  <div class="nav_label span-1 append-1">category<br><span class="clear-all">clear</span><br><span class="select-all">all</span></div>
  <div id="nav_categories" class="span-10">
    <% for category in @categories %>
      <div value="c_<%= category.id %>" class="cat_toggle toggle selected"><%= category.name.downcase  %></div>
    <% end %>
  </div>

<!--
  # TODO
  <div class="nav_label span-1 append-1">platform</div>
  <div id="nav_platforms" class="span-3 append-1">
    <div value="p_0" class="toggle">osx</div>
    <div value="p_0" class="toggle">windows</div>
    <div value="p_0" class="toggle">linux</div>
    <div value="p_0" class="toggle">ios</div>
    <div value="p_0" class="toggle">android</div>
    <div value="p_0" class="toggle">rpi</div>
  </div>
-->

  <div class="nav_label span-1">etc</div>
  <div id="nav_other" class="span-4">
    <div id="e_stars" class="menu selected">
      <span id="e_stars_selected">1+ stars</span>
      <div style="display:none" id="stars_menu" class="nav_drop_menu">
        <ul>
          <li value="0">any</li>
          <li value="1">1+</li>
          <li value="5">5+</li>
          <li value="10">10+</li>
          <li value="50">50+</li>
          <li value="100">100+</li>
        </ul>
      </div>
    </div>
    <div id="e_updated" class="menu">
      <span id="e_updated_selected">updated since</span>
      <div style="display:none" id="updated_menu" class="nav_drop_menu">
        <ul>
          <li>any</li>
          <li value="61">0.6.1</li>
          <li value="62">0.6.2</li>
          <li value="70">0.7.0</li>
          <li value="71">0.7.1</li>
          <li value="72">0.7.2</li>
          <li value="73">0.7.3</li>
          <li value="74">0.7.4</li>
          <li value="80">0.8.0</li>
        </ul>
      </div>
    </div>
    <div id="e_makefile" class="toggle">makefile</div>
    <div id="e_example" class="toggle">example</div>
  </div>
  <div class="nav_label span-1  prepend-1" id="repo_count">#<%= @repo_count %> </div>
</div>


<div id="body" class="span-26 last" >
  <% index = 0; for repo in @categorized.sort_by{|r| -r.followers.to_i }  %>
    
    <!--
   <% unless repo.contributor.nil? %>
    <p style="color:red; font-size:25px;"><%= repo.contributor.name %></p>
   <% end %>
-->
    <div class="c_<%= repo.category_id %> of_<%= repo.get_last_update_of_release %> s_<%= repo.followers.nil? ? 0 : repo.followers %> m_<%= !repo.has_makefile.nil? %> e_<%= repo.example_count.nil? || repo.example_count != 0 %> repo span-7 append-1 <% if (index+1).divmod(3)[1] == 0 %> last<% end %>" >

    <% if repo.has_thumbnail != nil %>
      <div class="bg" style="background: url(https://raw.github.com/<%= repo.github_slug %>/master/ofxaddons_thumbnail.png) center center;">
        <p class="name github"><a href="<%= repo.github_url %>"><%= repo.name %></a></p>
      </div>
    <% else %>
        <p class="name github"><a href="<%= repo.github_url %>"><%= repo.name %></a></p>
    <% end %>

      <% if !repo.warning_labels.blank? %>
        <p class="warning-labels">
          <% for warning in repo.warning_labels %>
          <span class="warning <%= warning %>">
            <%= warning.to_s.split("-").last %>
          </span>
          <% end %> 
        </p>
      <% end %>

      <p class="description"><%= repo.description %></p>
      <p class="features">
        <% if repo.has_makefile %>
          <span title="This addon has a Makefile" class="feature makefile">Makefile</span>
        <% end %>
        <% if !repo.example_count.nil? && repo.example_count > 0 %>
          <span title="This has examples" class="feature example"> <%= repo.example_count.to_s + " example" + (repo.example_count > 1 ? "s" : "") %> </span>
        <% end %>
      </p>

      <p class="author">
        
        <a class="github" href="<%repo.github_url%>">created</a> by <a href="/users/<%= repo.owner %>"><% if !repo.owner_avatar.blank?  %>
          <img class="userIcon" src="<%= repo.owner_avatar %>" />
        <% else %>
          <img class="userIcon" src="/images/default-gravatar.png">
        <% end %><%= repo.owner %></a> <br/>updated <abbr class="timeago" title="<%= repo.last_pushed_at.strftime('%Y-%m-%dT%H:%M:%S%z') %>"><%= repo.last_pushed_at.strftime("%m/%e/%y") %></abbr> (~<%= repo.get_last_update_of_release %>) 
        <% if repo.followers != 0 && !repo.followers.blank? %>
          <img class="starImage" src="images/starGray.png" /> <b><%= repo.followers %></b>
        <% end %>
      </p>


      <% for fork in repo.fresher_forks %>
        <p>
          
          <a class="github" href="<%fork.github_url%>">fork</a> by <a href="http://github.com/<%= fork.owner %>"><% if !fork.owner_avatar.blank?  %>
            <img class="userIcon" src="<%= fork.owner_avatar %>" />
          <% else %>
            <img class="userIcon" src="/images/default-gravatar.png">
          <% end %>
          <%= fork.owner %></a> <br/>updated <abbr class="timeago" title="<%= fork.last_pushed_at.strftime('%Y-%m-%dT%H:%M:%S%z') %>"><%= fork.last_pushed_at.strftime("%m/%e/%y") %></abbr> (~<%= fork.get_last_update_of_release %>) 
        <% if fork.followers != 0 && !fork.followers.blank? %>
          <img class="starImage" src="images/starGray.png" /> <b><%= fork.followers %></b>
        <% end %>
        </p>
      <% end %>
    </div>
    <% index = index + 1 %>
  <% end %>
</div>


