<div class="span-26 last">

<% unless @uncategorized.empty? %>

<h2>Uncategorized</h2>
<p class="unfinishedSlogan">These addons have not yet been tagged with a category in our database, but are still worth checking out!</p> 
  <% @uncategorized.each_with_index do |repo, index| %>
    
    <div  class="repo span-7 append-1 <% if (index+1).divmod(3)[1] == 0 %> last <% end %>" >
      <p class="name github"><a href="<%= repo.github_url %>"><%= repo.name %></a> </p>
            <p class="description"><%= repo.description %></p>

      <p class="author">
        
        <a class="github" href="<%= repo.github_url%>">created</a> by <a href="/users/<%= repo.owner %>"><% if !repo.owner_avatar.blank?  %>
          <img class="userIcon" src="<%= repo.owner_avatar %>" />
        <% else %>
          <img class="userIcon" src="/images/default-gravatar.png">
        <% end %><%= repo.owner %></a> <br/>updated <abbr class="timeago" title="<%= repo.last_pushed_at.strftime('%Y-%m-%dT%H:%M:%S%z') %>"><%= repo.last_pushed_at.strftime("%m/%e/%y") %></abbr> (~<%= repo.get_last_update_of_release %>) 
        <% if repo.followers != 0 && !repo.followers.blank? %>
          <img class="starImage" src="images/starGray.png" /> <b><%= repo.followers %></b>
        <% end %>
      </p>


      <% for fork in repo.fresher_forks %>
        <p>
          
          <a class="github" href="<%= fork.github_url%>">fork</a> by <a href="http://github.com/<%= fork.owner %>"><% if !fork.owner_avatar.blank?  %>
            <img class="userIcon" src="<%= fork.owner_avatar %>" />
          <% else %>
            <img class="userIcon" src="/images/default-gravatar.png">
          <% end %>
          <%= fork.owner %></a> <br/>updated <abbr class="timeago" title="<%= fork.last_pushed_at.strftime('%Y-%m-%dT%H:%M:%S%z') %>"><%= fork.last_pushed_at.strftime("%m/%e/%y") %></abbr> (~<%= fork.get_last_update_of_release %>) 
        <% if fork.followers != 0 && !fork.followers.blank? %>
          <img class="starImage" src="images/starGray.png" /> <b><%= fork.followers %></b>
        <% end %>
        </p>
      <% end %>
      
    </div>

  <% if (index+1).divmod(3)[1] == 0 %><br style="clear:both;" /><% end %>
  <% end %>

<% end %>
</div>

<div class="span-23 last" style="clear:both;">
<% unless @incomplete.empty? %>

<h2 style="border-top: 4px solid #E6E8EA;">Not an addon</h2>
<p class="unfinishedSlogan">These repositories don't match the addon format described <a href="/howto/">here</a>.</p> 
  <% @incomplete.each_with_index do |repo, index| %>
    
    <div  class="repo span-7 append-1 <% if (index+1).divmod(3)[1] == 0 %> last <% end %>" >
      <p class="name github"><a href="<%= repo.github_url %>"><%= repo.name %></a> </p>
      <p class="description"><%= repo.description %></p>

      <p class="author">
        
        <a class="github" href="<%= repo.github_url%>">created</a> by <a href="/users/<%= repo.owner %>"><% if !repo.owner_avatar.blank?  %>
          <img class="userIcon" src="<%= repo.owner_avatar %>" />
        <% else %>
          <img class="userIcon" src="/images/default-gravatar.png">
        <% end %><%= repo.owner %></a> <br/>updated <abbr class="timeago" title="<%= repo.last_pushed_at.strftime('%Y-%m-%dT%H:%M:%S%z') %>"><%= repo.last_pushed_at.strftime("%m/%e/%y") %></abbr> (~<%= repo.get_last_update_of_release %>) 
        <% if repo.followers != 0 && !repo.followers.blank? %>
          <img class="starImage" src="images/starGray.png" /> <b><%= repo.followers %></b>
        <% end %>
      </p>


      <% for fork in repo.fresher_forks %>
        <p>
          
          <a class="github" href="<%= fork.github_url%>">fork</a> by <a href="http://github.com/<%= fork.owner %>"><% if !fork.owner_avatar.blank?  %>
            <img class="userIcon" src="<%= fork.owner_avatar %>" />
          <% else %>
            <img class="userIcon" src="/images/default-gravatar.png">
          <% end %>
          <%= fork.owner %></a> <br/>updated <abbr class="timeago" title="<%= fork.last_pushed_at.strftime('%Y-%m-%dT%H:%M:%S%z') %>"><%= fork.last_pushed_at.strftime("%m/%e/%y") %></abbr> (~<%= fork.get_last_update_of_release %>) 
        <% if fork.followers != 0 && !fork.followers.blank? %>
          <img class="starImage" src="images/starGray.png" /> <b><%= fork.followers %></b>
        <% end %>
        </p>
      <% end %>
      
    </div>

  <% if (index+1).divmod(3)[1] == 0 %><br style="clear:both;" /><% end %>
  <% end %>

<% end %>
</div>


