<p id="notice"><%= notice %></p>

<p>
  <strong>Version:</strong>
  <%= @release.version %>
</p>

<p>
  <strong>Released at:</strong>
  <%= @release.released_at %>
</p>

<%= link_to 'Edit', edit_release_path(@release) %> |
<%= link_to 'Back', releases_path %>
